<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--
    <script src="http://openlayers.org/dev/OpenLayers.js"></script>
-->
    <script src="{{=URL('static','openlayers/OpenLayers.js')}}" type="text/javascript"></script>
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
-->
    <script src="{{=URL('static','js/jquery.js')}}" type="text/javascript"></script>
<!--
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
-->
    <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
<!--
    <script src="http://mercatorlab.com/proj4js/lib/proj4js-compressed.js"></script>
-->
    <script src="{{=URL('static','proj4js/lib/proj4js-compressed.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        Proj4js.defs["EPSG:32718"] = "+proj=utm +zone=18 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
        var wgs84Projection = new OpenLayers.Projection("EPSG:4326");
        var sphericalMProjection = new OpenLayers.Projection("EPSG:900913");
        var utmProjection = new OpenLayers.Projection("EPSG:32718"); 
        var lon = -75.88400,
            lat = -8.0078125,
            zoom = 8;


       function init(){
            var map = new OpenLayers.Map('map', {
                units: 'm',
                numZoomLevels: 19,
                controls: [
                    //new OpenLayers.Control.Graticule({
                        //numPoints: 2, 
                        //labelled: true,
                        //visible: false,
                        //layerName: 'Rejilla',
                        //displayInLayerSwitcher: true
                    //}),
                    //new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.PanZoom(),
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.ScaleLine(),
                    //new OpenLayers.Control.MousePosition(),
                    //new OpenLayers.Control.LayerSwitcher()
                ],
                //allOverlays: true,
                //minScale: 100, 
                projection: sphericalMProjection,
                displayProjection: wgs84Projection //Is used for displaying coordinates in appropriate CRS by MousePosition control
            });

            //map.addControl(new OpenLayers.Control.PanZoom());
            map.addControl(new OpenLayers.Control.KeyboardDefaults());
            //var ctrlNav = new OpenLayers.Control.Navigation();
            //ctrlNav.zoomWheelEnabled = false;
            //map.addControl(ctrlNav);
            map.addControl(new OpenLayers.Control.LayerSwitcher( {title: 'View Layers'} ));
            //map.addControl(new OpenLayers.Control.ScaleLine());
            var ctrl = new OpenLayers.Control.MousePosition();
            ctrl.displayProjection = utmProjection;
            map.addControl(ctrl);

            var google_sat_layer = new OpenLayers.Layer.Google('Google Satelite', {
                type: google.maps.MapTypeId.SATELLITE,
                visibility: false,
                sphericalMercator: true
            });

            var bing_aer_layer = new OpenLayers.Layer.Bing({
                name: "Bing Aerial Layer",
                type: "Aerial",
                key: "AuWxq-E5tYJ_crQikiGqG8uXU7z7ANMLkCjr6UcJnaKRZAPmxdNwhD4UX2GEJTKq",
            });

            //var void_layer = new OpenLayers.Layer.OSM();

            var pncaz = new OpenLayers.Layer.Vector("PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                style: {
                    'fillColor': '#0000AA',
                    'fillOpacity': .8,
                    'strokeColor': '#aaee77',
                    'strokeWidth': 3,
                    'pointRadius': 8
                },
                isBaseLayer:true,
                isVector:true,
                sphericalMercator: true,
                //maxExtent: oBounds.transform(oGoogleProj, oSpheMercProj),
                //maxResolution: 'auto', // important, it doesn't default to auto
                //units: 'm',
                //strategies: [new OpenLayers.Strategy.Fixed()],
                strategies: [new OpenLayers.Strategy.BBOX()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/pncaz.geojson')}}",
                    //url: "data/pncaz.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });

            var zona_amortiguamiento = new OpenLayers.Layer.Vector("Zona de Amortiguamiento", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                isBaseLayer:true,
                isVector:true,
                sphericalMercator: true,
                //strategies: [new OpenLayers.Strategy.Fixed()],
                strategies: [new OpenLayers.Strategy.BBOX()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/zona_amortiguamiento.geojson')}}",
                    //url: "data/zona_amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });


            var centros_poblados = new OpenLayers.Layer.Vector("Centros Poblados", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                style: {
                    'fillColor': '#0000AA',
                    'fillOpacity': .8,
                    'strokeColor': '#aaee77',
                    'strokeWidth': 3,
                    'pointRadius': 8
                },
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/centros_poblados.geojson')}}",
                    format: new OpenLayers.Format.GeoJSON()
                }),
//                eventListeners:{
//                    'featureselected':function(evt){
//                        var feature = evt.feature;
//                        var popup = new OpenLayers.Popup.FramedCloud("popup",
//                            OpenLayers.LonLat.fromString(feature.geometry.toShortString()),
//                            null,
//                            "<div style='font-size:.8em'>Poblacion: " + feature.data.NOMBRE +"<br>Ubicacion: " + feature.data.NOMBRE+"</div>",
//                            null,
//                            true
//                        );
//                        feature.popup = popup;
//                        map.addPopup(popup);
//                    },
//                    'featureunselected':function(evt){
//                        var feature = evt.feature;
//                        map.removePopup(feature.popup);
//                        feature.popup.destroy();
//                        feature.popup = null;
//                    }
//                }
            
            });

            var zonificacion_pncaz = new OpenLayers.Layer.Vector("Zonificacion PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/zonificacion_pncaz.geojson')}}",
                    //url: "data/zonificacion_pncaz.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });

            var cuencas = new OpenLayers.Layer.Vector("Cuencas", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/cuencas.geojson')}}",
                    //url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var hidrografia_polis = new OpenLayers.Layer.Vector("Hidrografia Polis", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{{=URL('static','data/hidro_poly.geojson')}}",
                    //url: "data/hidro_poly.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vias = new OpenLayers.Layer.Vector("Vias", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/vias.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vegetacion = new OpenLayers.Layer.Vector("Vegetacion", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/vegetacion.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var altitud = new OpenLayers.Layer.Vector("Altitud", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/altitud.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//COPIAR AQUI
            var hidrografia_lineas = new OpenLayers.Layer.Vector("Hidrografia", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/hidro_linea.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//HASTA AQUI

//PEGAR AQUI
            var infraestructura_control = new OpenLayers.Layer.Vector("Infraestructura Control", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/infraestructura_control.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//


//AGREGAR AQUI EL NOMBRE DE LA CAPA, separada por comas
            map.addLayers([google_sat_layer, bing_aer_layer, pncaz,
                zona_amortiguamiento,
                centros_poblados, infraestructura_control, vias,
                hidrografia_lineas,
                cuencas, hidrografia_polis,
                vegetacion, altitud,
                zonificacion_pncaz,
                
                ]);

            //void_layer.setVisibility(false);

            map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, sphericalMProjection), zoom);


        var selectControl = new OpenLayers.Control.SelectFeature(centros_poblados, {
            hover: true,
            onSelect: function(feature) {
                var layer = feature.layer;
                feature.style.fillOpacity = 1;
                feature.style.pointRadius = 20;
                layer.drawFeature(feature);
                
                var content = "<div><strong>Poblacion:</strong> <br/>" + feature.data.NOMBRE +
                    "<br/><br/><strong>Longitud:</strong> <br/>" + feature.geometry.x +  +"</div>" +
                    "<br/><br/><strong>Latitud:</strong> <br/>" + feature.geometry.y +  +"</div>"
                    ;
                console.log(feature);
                //var content = feature;
                var popup = new OpenLayers.Popup.FramedCloud(
                    feature.id+"_popup", 
                    feature.geometry.getBounds().getCenterLonLat(),
                    new OpenLayers.Size(250, 100),
                    content,
                    null, 
                    false, 
                    null);
                feature.popup = popup;
                map.addPopup(popup);
            },
            onUnselect: function(feature) {
                var layer = feature.layer;
                feature.style.fillOpacity = 0.7;
                feature.style.pointRadius = 16;
                feature.renderIntent = null;
                layer.drawFeature(feature);                
                  map.removePopup(feature.popup);
            }
        });
        map.addControl(selectControl);
        selectControl.activate();
        }
    </script>
  </head>
  <body onload="init()">
    <div id="map" style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%"></div>
  </body>
</html>
