<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    </style>
<!--
    <script src="http://openlayers.org/dev/OpenLayers.js"></script>
-->
    <script src="{{=URL('static','openlayers/OpenLayers.js')}}" type="text/javascript"></script>
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
-->
    <script src="{{=URL('static','js/jquery.js')}}" type="text/javascript"></script>
<!--
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
-->
    <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
<!--
    <script src="http://mercatorlab.com/proj4js/lib/proj4js-compressed.js"></script>
-->
    <script src="{{=URL('static','proj4js/lib/proj4js-compressed.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        Proj4js.defs["EPSG:32718"] = "+proj=utm +zone=18 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
        var wgs84Projection = new OpenLayers.Projection("EPSG:4326");
        var sphericalMProjection = new OpenLayers.Projection("EPSG:900913");
        var utmProjection = new OpenLayers.Projection("EPSG:32718"); 
        var projsrc = new Proj4js.Proj("EPSG:900913"); 
        var projdst = new Proj4js.Proj("EPSG:32718");
        var projwgs = new Proj4js.Proj("EPSG:4326");
        {{if map_origin == 'sphericalm':}}
            var lon = {{=map_lon}},
                lat = {{=map_lat}},
                zoom = {{=map_zoom}};
        {{else:}}
            var newcoord = new Proj4js.Point({{=map_lon}}, {{=map_lat}}); 
            Proj4js.transform(projdst, projwgs, newcoord);
            var lon = newcoord.x,
                lat = newcoord.y,
                zoom = {{=map_zoom}}
        {{pass}}
        //var defaultMapCenter = new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, utmProjection);
        //var defaultMapZoom = 8;
        var layer_data = new Array();
        var selector = new Array();

        OpenLayers.Renderer.symbol.lightning = [0, 0, 4, 2, 6, 0, 10, 5, 6, 3, 4, 5, 0, 0];
        OpenLayers.Renderer.symbol.rectangle = [0, 0, 4, 0, 4, 10, 0, 10, 0, 0];
        OpenLayers.Renderer.symbol.church = [4, 0, 6, 0, 6, 4, 10, 4, 10, 6, 6, 6, 6, 14, 4, 14, 4, 6, 0, 6, 0, 4, 4, 4, 4, 0];

       function init(){
            var map = new OpenLayers.Map('map', {
                units: 'm',
                numZoomLevels: 19,
                controls: [
                    new OpenLayers.Control.Graticule({
                        numPoints: 2, 
                        labelled: true,
                        visible: false,
                        layerName: 'Rejilla',
                        displayInLayerSwitcher: true
                    }),
                    new OpenLayers.Control.KeyboardDefaults(),
                    new OpenLayers.Control.PanZoom(),
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.ScaleLine(),
                    new OpenLayers.Control.LayerSwitcher({
                        title: 'Ver Capas',
                        roundedCorner : true,

                        useLegendGraphics : true,
                        })
                ],
                //projection: sphericalMProjection,
                displayProjection: wgs84Projection //Is used for displaying coordinates in appropriate CRS by MousePosition control
            });

            var ctrl = new OpenLayers.Control.MousePosition();
            ctrl.displayProjection = utmProjection;
            map.addControl(ctrl);

            layer_data[0] = new OpenLayers.Layer.Google('Google Satelite', {
                type: google.maps.MapTypeId.SATELLITE,
                visibility: false,
                //sphericalMercator: true
            });

            layer_data[1] = new OpenLayers.Layer.Bing({
                name: "Bing Aerial Layer",
                type: "Aerial",
                key: "AuWxq-E5tYJ_crQikiGqG8uXU7z7ANMLkCjr6UcJnaKRZAPmxdNwhD4UX2GEJTKq",
            });
            
            {{counter = 2}}
            {{for layer in layer_data:}}
            var rules = new Array();
            {{if layer.rule_data is not None and layer.rule_data != '':}}
            {{aux_counter = 0}}
            {{for part in layer.rule_data.split('|'):}}
            {{comp = part.strip().split('=')}}
                rules[{{=aux_counter}}] =  new OpenLayers.Rule({
                    title: "{{=comp[0].strip()}}",
                    {{if comp[1] is not None:}}
                    filter: new OpenLayers.Filter.Comparison({
                        type: OpenLayers.Filter.Comparison.{{=comp[1].strip()}},
                        property: "{{=comp[2].strip()}}",
                        value: "{{=comp[3].strip()}}"
                    }),
                    {{pass}}
                    symbolizer: {{=XML(comp[4].strip(), sanitize=False)}}
                }),
            {{aux_counter += 1}}
            {{pass}}
                rules[{{=aux_counter}}] = new OpenLayers.Rule({elseFilter: true,
                symbolizer : {
                    Polygon: {fillcolor: "#00BB00"}
                    }
                });
            {{pass}}
            var layer_style = new OpenLayers.Style({
                    {{=XML(layer.style_data, sanitize=False)}}
                }, {
                    rules: rules
            });
            layer_data[{{=counter}}] = new OpenLayers.Layer.Vector("{{=layer.name}}", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                {{if layer.name == 'Centros Poblados' and map_origin == 'utm':}}
                visibility: true,
                {{else:}}
                visibility: false,
                {{pass}}
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "../static/data/{{=layer.file_data}}",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                styleMap: new OpenLayers.StyleMap(layer_style),
                eventListeners:{
                    'featureselected':function(evt){
                        var feature = evt.feature;
                        var utmcoord = new Proj4js.Point(feature.geometry.x, feature.geometry.y); 
                        Proj4js.transform(projsrc, projdst, utmcoord);
                        {{if layer.popup !='':}}
                        var content = {{=XML(layer.popup, sanitize=False)}};
                        {{else:}}
                        var content = "";
                        {{pass}}
                        var popup = new OpenLayers.Popup.FramedCloud("popup",
                            feature.geometry.getBounds().getCenterLonLat(),
                            null,
                            content,
                            null,
                            true
                        );
                        feature.popup = popup;
                        map.addPopup(popup);
                    },
                    'featureunselected':function(evt){
                        var feature = evt.feature;
                        map.removePopup(feature.popup);
                        feature.popup.destroy();
                        feature.popup = null;
                    }
                }
            });

            selector[{{=counter}}] = new OpenLayers.Control.SelectFeature(layer_data[{{=counter}}],{
                 hover:true,
                 autoActivate:true
            });
            map.addControl(selector[{{=counter}}]);
            {{counter += 1}}
            {{pass}}
            map.addLayers(layer_data);
            map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, sphericalMProjection), zoom);
            //map.setCenter(defaultMapCenter, defaultMapZoom);


        }
    </script>
  </head>
  <body onload="init()">
    <div id="map" style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%"></div>
  </body>
</html>
