{{extend 'layout_auxiliar.html'}}

<h2>Definición de proyecto específico.  Relación con el LUGAR.</h2>

{{=form}}

{{=form2}}

<script type="text/javascript">
jQuery(function() {
// iterates over all form widgets
jQuery(".w2p_fw").each(function (){
// set title for the widget taken from the comment column
jQuery(this).attr('title',jQuery(this).next().html());
// clear the comment (optional)
jQuery(this).next().html('');
// create the tooltip with title attribute set
jQuery(this).tooltip();
});
});
</script>
